header
  nav.topNavbar
    span#hijri
    span بسم الله الرحمن الرحيم
    span#miladi

  nav
    a.logo(href='/')= config.title 
    a(href='/articles.html') المقالات 
      i.fas.fa-book

script(src='/js/hijri-miladi.js')